<!DOCTYPE html>
<html>
	<fieldset>
		<head>
			<title><%= title %></title>
			<link rel='stylesheet' href='/stylesheets/style.css' />
		</head>
		
		<body>
			<h1><%= title %></h1>
			<h4>Produtos</h4>
			<ul>
				<% docs.forEach(function(customer){ %>
					<li>
						<a href="/edit/<%= customer._id %>">
						<%= customer.name %>
						</a>
					</li>
				<% }) %>
			</ul>
		</body>
	</fieldset>
	
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
	
	<table class="table table-hover">				<! tabela sem borda > 
		<tbody>
			<th scope="row">
				<p><a href="/new">Cadastrar Novo Produto</a></p>
				<p><a href="/remove">Remover Produto</a></p>
				<p><a href="/show_all">Mostrar Todos Os Produto</a></p>
			</th>
			
		</tbody>
	</table>
</html>


