<!DOCTYPE html>
<html>
	<fieldset>
		<head>
			<title><%= title %></title>
			<link rel='stylesheet' href='/stylesheets/style.css' />
		</head>
		
		<body>
			<h1><%= title %></h1>
			<div id="content">
				<img src="/NS_logo.png" width="300" height="300s" />
			</div>
			
			</br>
			<div class="menu">	
				<table class="table table-hover">				<! tabela sem borda >
					<thead>
						<tr>
							<th scope="col"><a href="/new">Cadastrar Novo Produto</a></th>
							<th scope="col"><a href="/remove">Remover Produto</a></th>
							<th scope="col"><a href="/show_all">Mostrar Todos Os Produto</a></th>
						</tr>
					</thead>
				</table>
			</div>
			
			<ul>
				<% docs.forEach(function(products){ %>
					<li>
						<a href="/edit/<%= products._id %>">
						<%= products.name %>
						</a>
					</li>
				<% }) %>
			</ul>
		</body>
	</fieldset>
	
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
	
</html>


