body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-number {
    -moz-appearance: textfield;
}

img{
	position: absolute;
	top: 30px;
	right: 40px;
}

.menu tr{
	background-color: #E5E4E2;
	position: fixed;
	bottom: 0px;
	right: 50px;
}